POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app
PG_DATA=/var/lib/postgresql/data/
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
DATABASE_MIGRATION_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable


PGADMIN_DEFAULT_EMAIL=jon@gmail.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_CONFIG_SERVER_MODE="False"



ENV="local" #local, prod
GRPC_PORT=44044
GRPC_TIMEOUT=10s